@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts{
    <script src="~/js/home-index.js"></script>
}
<div ng-controller="homeIndexController">
    <div class="message-header">
        <h1>MessageBoard</h1>
        <p class="lead">Latest Messages</p>
        <div>Message Count: {{data.length}}</div>
    </div>

    <div class="progress progress-striped active" ng-show="isBusy">
        <div class="bar" style="width: 100%;"></div>
    </div>

    <div class="messages">
        <div class="message row" ng-repeat="i in data">
            <div class="title span10">{{i.title}}</div>
            <div class="date pull-right">{{i.created | date:"medium"}}</div>
            <div class="content span10">{{i.body}}</div>
            <div class="toolbar span10"><button class="btn btn-primary reply-button">Reply</button></div>
            <div class="replies span11">
                <div class="reply" ng-repeat="r in i.replies">
                    <div class="created pull-right">{{r.created | date:"medium"}}</div>
                    <div class="content">{{r.body}}</div>
                </div>
            </div>
        </div>
    </div>

</div>