@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}
<div class="message-header">
    <h1>MessageBoard</h1>
    <p class="lead">Latest Messages</p>
</div>

<div class="messages">
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Oct 12th 2015</div>
        <div class="content span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Oct 12th 2015</div>
        <div class="content span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12">
            <div class="reply">
                <div class="created pull-right">Oct 12th 2015</div>
                <div class="content">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
            </div>
            <div class="reply">
                <div class="created pull-right">Oct 12th 2015</div>
                <div class="content">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
            </div>
            <div class="reply">
                <div class="created pull-right">Oct 12th 2015</div>
                <div class="content">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
            </div>
        </div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Oct 12th 2015</div>
        <div class="content span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Oct 12th 2015</div>
        <div class="content span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Oct 12th 2015</div>
        <div class="content span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
</div>

@foreach(var topic in Model){
    <div>@topic.Title</div>   
    <div>-- @topic.Body</div>
}